.c-item {
height: fit-content;

}

.c-img {
  height: 100%;
  object-fit: cover;
  filter:brightness(0.6);
}

.carousel-item.b-item h5 {
  font-size: 6rem; /* change font size to 3 rem */
  margin-top: 20px; /* change top margin to 20 pixels */
  
}

.carousel-item.b-item p {
  font-size: 5rem; /* change font size to 2 rem */
  margin-top: 10px; /* change top margin to 10 pixels */
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  .carousel-item.b-item h5 {
    font-size: 3rem;
  }
  
  .carousel-item.b-item p {
    font-size: 2rem;
  }
}

.spinner-border.g-item {
  position: absolute;
  left: 50%;
  top: 200%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display:flex;
}

.spinner-border.g-item.show {
  display:flex;
  top: 80%; /* adjust the number to the desired position */
}

@keyframes spin {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

.yoo {
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 100%;

}

.video-wrapper {

  opacity: 100%;
  transform:rotate(deg);
}


#activities {
  list-style-type: none;
  padding: 0;
}

.activity {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.activity h2 {
  margin: 0;
  font-size: 20px;
}

.activity p {
  margin: 10px 0 0;
  font-size: 16px;
}
